In [1]:
import pandas as pd
data = pd.read_csv("https://aiacademy.jp/dataset/sample_data.csv",
                   encoding="cp932",
                   skiprows=1, # 1行読み飛ばす
                   )

print(data)
print(type(data)) # <class 'pandas.core.frame.DataFrame'>
print(data.dtypes)

"""
エクセルの場合は下記のように使います。
.to_excel("任意のファイル名.xlsx",encoding='utf8')
"""

     a0   b0   c0   d0
0    a1   b1   c1   d1
1    a2   b2   c2   d2
2    a3   b3   c3   d3
3    a4   b4   c4   d4
4    a5   b5   c5   d5
5    a6   b6   c6   d6
6    a7   b7   c7   d7
7    a8   b8   c8   d8
8    a9   b9   c9   d9
9   a10  b10  c10  d10
10  a11  b11  c11  d11
<class 'pandas.core.frame.DataFrame'>
a0    object
b0    object
c0    object
d0    object
dtype: object

'\nエクセルの場合は下記のように使います。\n.to_excel("任意のファイル名.xlsx",encoding=\'utf8\')\n'

In [3]:
import numpy as np
df = pd.DataFrame(np.random.randn(20,2))
df.sort_index(ascending=False) # 降順

# 昇順でソートするには上記の降順ソートのコードをコメントアウトして下記を実行してください
df.sort_values(by=1) # key(カラム名)が1の昇順(小さい順)でソート
df.sort_values(by=1, ascending=False)  # keyが1の降順(大きい順)でソート

           0         1
16 -0.132724 -2.827182
6  -0.309221 -1.701341
2   1.009124 -1.605916
4  -0.646354 -1.093389
7  -0.354226 -0.951768
13 -0.301363 -0.730200
9  -0.126464 -0.674346
3  -1.111675 -0.546104
11 -0.453715 -0.238587
18 -1.402623 -0.209095
15  1.141328  0.013647
19 -0.051873  0.075204
10 -1.426429  0.087439
0  -0.453845  0.118866
5   0.652834  0.307848
17 -0.491552  0.506275
1   0.596425  0.711192
14  1.989785  0.961945
12  0.240574  1.442870
8   0.908835  1.559921